.blog-post {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .blog-post:hover {
    background-color: #f2f2f2;
  }
  
  .blog-post h3 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }
  
  .blog-post p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  
  .blog-post-expanded {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  
  .blog-post-expanded h3 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .blog-post-expanded p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom:
  }  